/* layout */

img {
  width: 100%;
}

/* section 1 */

#section1 {
  min-height: 90vh;
  background: url("../img/large/capucin.jpg") center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 2 */

#section2 {
  columns: 3;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 1em;
}

@media screen and (max-width: 700px) {
  #section2 {
    columns: 1;
  }
}

/* section 3 */

#section3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  padding-top: 30px;
  grid-gap: 1em;
}

#section3 > h2 {
  text-align: center;
}

/* section 4 */

#section4 {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* section 5 */

#section5 {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-size: 80%;
}

/* section 6 */

#section6 > img {
  max-height: 200px;
  object-fit: cover;
}

/* footer */

footer {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-evenly;
  grid-gap: 2em;
  text-align: center;
  line-height: 2em;
  align-items: center;
}

footer > img {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
