/* Background changes for 4 screen sizes */

body {
  background-color: #efefef;
}

@media screen and (min-width: 900px) {
  body {
    background-color: #c3c3c3;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #a3a3a5;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-color: #919192;
  }
}

/* section 1 */

#section1 {
  min-height: 500px;
  background-image: url("../img/large/capucin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*section 2 columns*/

.columns {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}

/* section 5 */

#section5 {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 800px;
  background-image: url("../img/large/ourang-outan.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

/* footer */

footer {
  padding: 40px;
  background-color: #191919;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 1em;
  color: white;
  text-align: center;
  line-height: 2em;
  align-items: center;
}

footer > img {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav2 > ol > li > a {
  text-decoration: none;
  color: white;
}
