/* Background changes for 4 screen sizes */

body {
  background-color: lightblue;
}

@media screen and (min-width: 900px) {
  body {
    background-color: lightcoral;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: lightpink;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-color: lightgreen;
  }
}

/* section 1 */

#section1 {
  min-height: 750px;
  background-image: url("../img/large/capucin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*section 2 columns*/

/* section 5 */

#section5 {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 800px;
  background-image: url("../img/large/ourang-outan.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

/* footer */

footer {
  padding: 40px;
  background-color: #191919;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 1em;
  color: white;
  text-align: center;
  line-height: 2em;
  align-items: center;
}

footer > img {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav2 > ol > li > a {
  text-decoration: none;
  color: white;
}
